body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td
{
    padding: 0;
    margin: 0;
}
textarea
{
    font-size: 12px;
    color: #333;
    padding: 2px;
    width:250px;
}
fieldset, img
{
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var
{
    font-weight: bold;
    font-style: normal;
}
ol, ul
{
    list-style: none;
}
caption, th
{
}
h1, h2, h3, h4, h5, h6
{
    font-size: 100%;
}
q:before, q:after
{
    content: '';
}
abbr, acronym
{
    border: 0;
}
html, body
{
    background: #FFF;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    font-family: "Microsoft YaHei" , "宋体" ,Arial,Verdana, Helvetica, sans-serif;
    text-align: left;
}

a
{
    text-decoration: none;
    color: #000;
}
a:hover
{
    color: #F00;
    text-decoration: none;
}

.error
{
    margin-left: 5px;
    color: Red;
}

/************jQuery.Validate插件样式开始********************/
label.error
{
    color: Red;
}
input.error
{
    border: dashed 1px red;
}
textarea.error
{
    border: dashed 1px red;
}
/************jQuery.Validate插件样式结束********************/

.tableDetail {
    margin: 10px 15px;
    border-top:1px solid #F0F0F0;
    border-left:1px solid #F0F0F0;
}

.tableDetail tr th{
    text-align: right;
    background: #FAFAFA;
}
    .tableDetail thead th {
       text-align: center;
     background: #FAFAFA;
       min-width:60px;
    }

.title{
    text-align: right;
    background: #FAFAFA;
  
}

.tableDetail td, .tableDetail th{
    border-bottom:1px solid #F0F0F0;
    border-right:1px solid #F0F0F0;
    padding:3px;
}