<div class="GeneralPage">
    <textarea id="txtCfg" style="width: 100%; height: 300px">@ViewBag.Cfg</textarea>
    <input type="button" value="格式化" onclick="$('#txtCfg').format({ method: 'json' })" />
    <input type="button" value="压缩" onclick="$('#txtCfg').format({ method: 'jsonmin' })" />
    <input type="button" value="页面生成" onclick="GeneralHtmlCode()" />
    &nbsp;&nbsp;代码模板：
            <select id="drpGeneralTemplate" runat="server" name="drpGeneralTemplate">
                <option value="ListBySql">基于SQL的列表</option>
                <option value="ListByTable">基于EF的列表（不支持SQL）</option>
                <option value="ListTest">测试模板</option>
            </select>
    <textarea id="txtGeneral" style="width: 100%; height: 300px"></textarea>

</div>

<script>

    $('#txtCfg').format({ method: 'json' });


    function GeneralHtmlCode() {
        $.post("./GetGeneralCode", { cfg: $("#txtCfg").val(), template: $("#drpGeneralTemplate").val() }, function (data) {
            $("#txtGeneral").val(data);
        });
    }
</script>
